/*
* Open Code
*
* Colours:
* Red:          #c13832; (Flush Mahogany)
* Cream/Brown:  #d7d3c8; (Swirl)
* Grey:         #4d4e53; (Abbey)
*/

body {
  background-color: #f2f2f2;
  color: #4d4e53;
}

a {
  -webkit-transition: color .5s linear;
  -moz-transition: color .5s linear;
  -ms-transition: color .5s linear;
  -o-transition: color .5s linear;
  transition: color .5s linear;
}
a:hover, a:focus {
  color: #c13832;
}

.header {
  text-align: center;
  margin-top: 4rem;
}
.title {
  color: #c13832;
  margin-bottom: 2rem;
}
.strapline {
  margin-bottom: 0em;
}
@media (max-width: 550px) {
  .strapline {
    font-size: 2.2rem;
  }
}
.heading {
  text-align: left;
  border-bottom: 1px solid #d7d3c8;
  padding-bottom: 0.5em;
}

.contact {
  text-align: center;
}
@media (min-width: 769px) {
  .contact__cta {
    display: none;
  }
}
.contact .button {
  transition: width 2s, background-color 2s, border-color 2s;
}
.contact-us--hover {
  display: none;
}
.contact .button:hover .contact-us {
  display: none;
}
.contact .button:hover .contact-us--hover {
  display: block;
}
h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Primary button style */
.button.button-primary {
  background-color: #c13832;
  border-color: white;
  color: white;
  fill: white;
  transition: width 0.1s, background-color 1s, border-color 1s;
}
.button.button-primary:hover {
  background-color: white;
  border-color: #c13832;
  color: #c13832;
}

/* Secondary button style */
.button.button-secondary {
  /*background-color: white;*/
  border-color: transparent;
  color: #4d4e53;
  fill: white;
  transition: width 0.1s, background-color 1s, border-color 1s;
}
.button.button-secondary:hover {
  background-color: white;
  border-color: white;
  /*color: white;*/
}

.button[class^="contact__"] {
  margin-right: 1.7em;
}
.button[class^="contact__"]:last-child {
  margin-right: 0;
}

.value-icon {
  margin: 0 0.6rem -0.6rem -0.8rem;
  fill: white !important;
}

.contact .button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.contact .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c13832;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.contact .button:hover, .contact .button:focus, .contact .button:active {
  color: white;
}
.contact .button:hover:before, .contact .button:focus:before, .contact .button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
